div{
 padding: 0;
 margin: 0;
 height: 100vh;

}

.id{
  background-color: white;
}

.key  {
  
  display: flex;
  flex-direction: column;
  color: rgb(147, 147, 180);
  font-family: sans-serif;
  align-items: center;
  justify-content: center; 
  height: 100vh; 
}

.key img{
  width: 400px;
  height: 400px;
}

.key button{
  font-size:large;
  background-color: rgba(235, 119, 119, 0.644);
}

.key content{
  font-size: large;
}