        body {
        margin: 0;
        display: flex;
        
        align-items: center;
        justify-content: center;
       }
     
       .key{
         
         display: flex;
         flex-direction: column;
         color: black;
         font-family: sans-serif;
         align-items: center;
         padding-top: 60px;
         font-size: 2em;
         
         
         
         
       }

       .h1 {
         
        display: flex;
        padding: 200px;
        flex-direction: column;
        color: black;
        font-family: sans-serif;
        align-items: center;
        min-height :20vh;
      }

      .button-start{
                margin: 8px;
                background-color: brown;
                color: white;
                width: 300px;
                font-size:larger;
                border-radius: 30px;
                border:none;
                height: 30px;
                
                

      }
      .button-start:hover{
        background-color: green;
      }

      .button-stop{
        margin: 8px;
        background-color:crimson;
        color: white;
        width: 100px;
        font-size:larger;
        border-radius: 30px;
        border:none
}
      .button-stop:hover{
        background-color: red;
      }

     
     
       